@model BiofuelSouth.Models.ProductionCost









<tr>
    <td>@Model.ProductionCostType</td>
    @Html.HiddenFor(m=>m.ProductionCostType)
    <td>@Html.TextBoxFor(m => m.Amount)</td>
</tr>

      






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
