<h3>More Information</h3>
<p>
    <strong>Further steps</strong>
</p>
<p class="text-danger">
    TBD: Suggest further steps based on resutls. For example tranportation, near by facilities etc.

</p>

<p>
    <strong>Relevant Contacts</strong>
</p>
<p class="text-danger">
    Additional information about growing biomass crops may be obtained from county and university extension professionals 
    and USDA Farm Service Agents in your area. The following contacts may be useful:
</p>

<p>
    <strong>Questions</strong>
</p>
<p>
    If you still have questions, you may <a href='@Url.Action("AskExpert", "Home")'> <strong>Ask an Expert</strong>.</a><br />
</p>
<p>
    You may also participate in <a href='/forum'> <strong>the discussion forum.</strong></a> <br />
</p>


