<h3>
    Future Sprint: Alternative Crop Explorer Dashboard
</h3>

<div>
    Crop Selection
</div>

<div>
    Alternative summary Concise
</div>

<div>
    Result Explorer
</div>
    
