@using BiofuelSouth.Resources
@{
	ViewBag.Title = GeneralResource.Application_Title_Display;
}

	<div class="row">
		<div class="col-xs-8 form-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					Select Crop and Map Type
				</div>
				<div class="panel-body">
					<div class="col-xs-4">
						@Html.Label("Select Map")
						<select id="SelectedMapType" class="form-control" name="SelectedMapType">
							<option value="yieldmap">Yield Map</option>
							<option value="costmap">Cost Map</option>
							<option value="leastcostcropmap" disabled>Least Cost Crop Map</option>
						</select>
					</div>
					<div class="col-xs-4">
						@Html.Label( "Select a crop" )
						<select id="SelectedCrop" class="form-control" name="SelectedCrop">
							<option value="switchgrass">Switchgrass</option>
							<option value="miscanthus">Miscanthus</option>
							<option value="poplar">Poplar</option>
							<option value="willow">Willow</option>
							<option value="Pine">Pine</option>
						</select>
					</div>
					<div class="col-xs-8">&nbsp;</div>
					<div class="col-xs-8 text-center" id="mapelement">
						<!--MAP GOES HERE-->
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-4 form-group">
			<div class="panel panel-default">
				<div class="panel-heading ">
					Instructions: Spatial Maps
				</div>
				<div class="panel-body Instruction-panel-body">

				    <p>
				        County level maps of estimated yields and cost for various biomass crops can be visualized by making appropriate selection
				        for map type and crop.
				    </p>
				    <p>
				        The least cost map shows the type of crop that is considered least costly to be produced in a particular county.
				    </p>
					<p>
						These maps are prepared by interpolating available productivity and cost information from available data. @*(Miguez et al. 2012, LeBauer et al. 2010, Wang et al. 2013).*@
					</p>
					<p>
					    At present, maps of production are available for Switchgrass, Miscanthus, Poplar and Willow, whereas the maps of costs 
                        are also available for the former two.
					</p>
				    <p>
				        Yield and cost maps for Pine, Poplar and Willow are not yet available at county level and therefore, the
				        respective links are disabled.
				    </p>

					@*Dan Wang, David LeBauer, and Michael Dietze 2013. Predicting yields of short-rotation hybrid poplar (Populus spp.) for the United States through model–data synthesis. Ecological Applications 23:944–958. http://dx.doi.org/10.1890/12-0854.1
						LeBauer, David, Michael Dietze, Rob Kooper, Steven Long, Patrick Mulrooney, Gareth Scott Rohde, Dan Wang (2010). Biofuel Ecophysiological Traits and Yields Database (BETYdb), Energy Biosciences Institute, University of Illinois at Urbana-Champaign. doi:10.13012/J8H41PB9
						Miguez, F. E., Maughan, M., Bollero, G. A., & Long, S. P. (2012). Modeling spatial and dynamic variation in growth, yield, and yield stability of the bioenergy crops Miscanthus× giganteus and Panicum virgatum across the conterminous United States. Gcb Bioenergy, 4(5), 509-520. http://dx.doi.org/10.1111/j.1757-1707.2011.01150.x
					*@
				</div>
			</div>
		</div>

	</div>
@section MyScripts {

	<script>
			var switchgrassYieldFrame =
				'<iframe width="700" height="500" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col6+from+1_jzVU7ayeB-X7RtcosniHgRN7a64cBynApYaCN9c+where+col2+in+(&#39;AL&#39;%2C+&#39;FL&#39;%2C+&#39;GA&#39;%2C+&#39;KY&#39;%2C+&#39;MS&#39;%2C+&#39;NC&#39;%2C+&#39;SC&#39;%2C+&#39;TN&#39;%2C+&#39;VA&#39;)&amp;viz=MAP&amp;h=false&amp;lat=31.995958181131257&amp;lng=-83.71763842302317&amp;t=1&amp;z=6&amp;l=col6&amp;y=7&amp;tmplt=11&amp;hml=KML"></iframe>';



			var miscanthusYieldFrame =
				'<iframe width="700" height="500" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col6+from+1_jzVU7ayeB-X7RtcosniHgRN7a64cBynApYaCN9c+where+col2+in+(&#39;AL&#39;%2C+&#39;FL&#39;%2C+&#39;GA&#39;%2C+&#39;KY&#39;%2C+&#39;MS&#39;%2C+&#39;NC&#39;%2C+&#39;SC&#39;%2C+&#39;TN&#39;%2C+&#39;VA&#39;)&amp;viz=MAP&amp;h=false&amp;lat=31.995958181131257&amp;lng=-83.71763842302317&amp;t=1&amp;z=6&amp;l=col6&amp;y=8&amp;tmplt=12&amp;hml=KML"></iframe>';


			var poplarYieldFrame =
				'<iframe width="700" height="500" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col6+from+1_jzVU7ayeB-X7RtcosniHgRN7a64cBynApYaCN9c+where+col2+in+(&#39;AL&#39;%2C+&#39;AR&#39;%2C+&#39;GA&#39;%2C+&#39;FL&#39;%2C+&#39;LA&#39;%2C+&#39;KY&#39;%2C+&#39;NC&#39;%2C+&#39;SC&#39;%2C+&#39;TN&#39;%2C+&#39;TX&#39;%2C+&#39;VA&#39;%2C+&#39;MS&#39;)&amp;viz=MAP&amp;h=false&amp;lat=31.995958181131257&amp;lng=-83.71763842302317&amp;t=1&amp;z=6&amp;l=col6&amp;y=3&amp;tmplt=3&amp;hml=KML"></iframe>';


			var willowYieldFrame =
				 '<iframe width="700" height="500" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col6+from+1_jzVU7ayeB-X7RtcosniHgRN7a64cBynApYaCN9c+where+col2+in+(&#39;AL&#39;%2C+&#39;FL&#39;%2C+&#39;GA&#39;%2C+&#39;KY&#39;%2C+&#39;MS&#39;%2C+&#39;NC&#39;%2C+&#39;SC&#39;%2C+&#39;TN&#39;%2C+&#39;TX&#39;%2C+&#39;VA&#39;%2C+&#39;LA&#39;%2C+&#39;AR&#39;)&amp;viz=MAP&amp;h=false&amp;lat=31.995958181131257&amp;lng=-83.71763842302317&amp;t=1&amp;z=6&amp;l=col6&amp;y=4&amp;tmplt=4&amp;hml=KML"></iframe>';


			var productyield = ['<iframe width="700" height="500" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col11+from+1dYCpUm_bwDqN4MybPQVjPmkHMPOsYw--Fau1IQZM&amp;viz=MAP&amp;h=false&amp;lat=36.10&amp;lng=-86.22055982637162&amp;t=1&amp;z=7&amp;l=col11&amp;y=2&amp;tmplt=2&amp;hml=KML"></iframe>', switchgrassYieldFrame, miscanthusYieldFrame, poplarYieldFrame, willowYieldFrame];

			var productcostX = ['<iframe width="700" height="500" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col11+from+1dYCpUm_bwDqN4MybPQVjPmkHMPOsYw--Fau1IQZM&amp;viz=MAP&amp;h=false&amp;lat=36.10&amp;lng=-86.22055982637162&amp;t=1&amp;z=7&amp;l=col11&amp;y=2&amp;tmplt=2&amp;hml=KML"></iframe>',
				'<iframe width="700" height="500" scrolling="no" frameborder="no"   src="https://www.google.com/fusiontables/embedviz?q=select+col11%3E%3E1+from+1tlr9ZXczB9JIz3gk9182vjGisXhUGkoh-PJyRq-v+where+col1%3E%3E0+in+(&#39;AL&#39;%2C+&#39;AR&#39;%2C+&#39;FL&#39;%2C+&#39;GA&#39;%2C+&#39;KY&#39;%2C+&#39;LA&#39;%2C+&#39;MS&#39;%2C+&#39;NC&#39;%2C+&#39;SC&#39;%2C+&#39;TN&#39;%2C+&#39;TX&#39;%2C+&#39;VA&#39;)&amp;viz=MAP&amp;h=false&amp;lat=31.995958181131257&amp;lng=-83.71763842302317&amp;t=1&amp;z=6&amp;l=col11%3E%3E1&amp;y=2&amp;tmplt=2&amp;hml=KML"></iframe>',

				'<iframe width="700" height="500" scrolling="no" frameborder="no"   src="https://www.google.com/fusiontables/embedviz?q=select+col11%3E%3E1+from+1u0UNsOicvEJ7tyvKyRcXZ-jsH9Srcen9fqK8Y4xl+where+col1%3E%3E0+in+(&#39;AL&#39;%2C+&#39;AR&#39;%2C+&#39;FL&#39;%2C+&#39;GA&#39;%2C+&#39;KY&#39;%2C+&#39;LA&#39;%2C+&#39;MS&#39;%2C+&#39;NC&#39;%2C+&#39;SC&#39;%2C+&#39;TN&#39;%2C+&#39;TX&#39;%2C+&#39;VA&#39;)&amp;viz=MAP&amp;h=false&amp;lat=31.995958181131257&amp;lng=-83.71763842302317&amp;t=1&amp;z=6&amp;l=col11%3E%3E1&amp;y=2&amp;tmplt=2&amp;hml=KML"></iframe>'];

			var defaultCost = '<iframe width="700" height="500" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col11+from+1dYCpUm_bwDqN4MybPQVjPmkHMPOsYw--Fau1IQZM&amp;viz=MAP&amp;h=false&amp;lat=36.10&amp;lng=-86.22055982637162&amp;t=1&amp;z=7&amp;l=col11&amp;y=2&amp;tmplt=2&amp;hml=KML"></iframe>';

			var switchgrassCost = 
				
				'<iframe width="700" height="600" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col6+from+1_jzVU7ayeB-X7RtcosniHgRN7a64cBynApYaCN9c+where+col2+in+(&#39;AL&#39;%2C+&#39;FL&#39;%2C+&#39;GA&#39;%2C+&#39;KY&#39;%2C+&#39;MS&#39;%2C+&#39;NC&#39;%2C+&#39;SC&#39;%2C+&#39;TN&#39;%2C+&#39;VA&#39;)&amp;viz=MAP&amp;h=false&amp;lat=31.995958181131257&amp;lng=-83.71763842302317&amp;t=1&amp;z=6&amp;l=col6&amp;y=12&amp;tmplt=16&amp;hml=KML"></iframe>';

		

			var miscanthusCost = '<iframe width="700" height="500" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col6+from+1_jzVU7ayeB-X7RtcosniHgRN7a64cBynApYaCN9c+where+col2+in+(&#39;AL&#39;%2C+&#39;FL&#39;%2C+&#39;GA&#39;%2C+&#39;KY&#39;%2C+&#39;MS&#39;%2C+&#39;NC&#39;%2C+&#39;SC&#39;%2C+&#39;TN&#39;%2C+&#39;VA&#39;)&amp;viz=MAP&amp;h=false&amp;lat=31.995958181131257&amp;lng=-83.71763842302317&amp;t=1&amp;z=6&amp;l=col6&amp;y=11&amp;tmplt=15&amp;hml=KML"></iframe>';




			var productcost = [ defaultCost, switchgrassCost, miscanthusCost];

			var iframe = $('#mapelement');
			$('#SelectedMapType').change(function () {
				//the prop method retrieves the selected index. Adding 1 to that index increment the value by 1
				//This index can then be used in retrivieing links for maps where a blank map lives at index '0'





				var cropIndex = $('#SelectedCrop').prop("selectedIndex") + 1;
				var selectedMapType = $('#SelectedMapType').val();
				var iframe = $('#mapelement');
				iframe.html("");
				if (selectedMapType === "yieldmap") {
					iframe.html(productyield[cropIndex]);

					$("#SelectedCrop option[value='Pine']").attr("disabled", "disabled");
				} else if (selectedMapType === "costmap") {
					iframe.html(productcost[cropIndex]);

					$("#SelectedCrop option[value='willow']").attr("disabled", "disabled");
					$("#SelectedCrop option[value='poplar']").attr("disabled", "disabled");

					$("#SelectedCrop option[value='Pine']").attr("disabled", "disabled");




				}

			});

			$('#SelectedCrop').change(function () {
				$('#SelectedMapType').change();
			});
			$(document).ready(function () {
				$('#SelectedMapType').change();

			});
	</script>

}



