<br />
<div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12">
        <table>
            <tr>
                <td>
                    <label>Select map</label>
                    <select id="SelectedMapType" name="SelectedMapType">
                        <option value="yieldmap">Yield Map</option>
                        <option value="costmap">Cost Map</option>
                        <option value="leastcostcropmap" disabled>Least Cost Crop Map</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Select a crop</label>
                    <select id="SelectedCrop" name="SelectedCrop">
                        <option value="switchgrass">Switchgrass</option>
                        <option value="miscanthus">Miscanthus</option>
                        <option value="poplar" disabled>Poplar</option>
                        <option value="willow" disabled>Willow</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="mapelement">
                        Maps goes here
                    </div>
                    <!-- EMPTY FRAME https://www.google.com/fusiontables/embedviz?q=select+col11+from+1dYCpUm_bwDqN4MybPQVjPmkHMPOsYw--Fau1IQZM&amp;viz=MAP&amp;h=false&amp;lat=36.10&amp;lng=-86.22055982637162&amp;t=1&amp;z=7&amp;l=col11&amp;y=2&amp;tmplt=2&amp;hml=KML
                        <iframe id="mapelement" width="800" height="600" scrolling="no" frameborder="1" src="https://www.google.com/fusiontables/embedviz?q=select+col11%3E%3E1+from+1tlr9ZXczB9JIz3gk9182vjGisXhUGkoh-PJyRq-v&amp;viz=MAP&amp;h=false&amp;lat=36.10&amp;lng=-86.40296572047234&amp;t=1&amp;z=5&amp;l=col11%3E%3E1&amp;y=2&amp;tmplt=2&amp;hml=KML"></iframe>

                        <iframe id=" mapelement" width="800" height="600" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col11%3E%3E1+from+1tlr9ZXczB9JIz3gk9182vjGisXhUGkoh-PJyRq-v&amp;viz=MAP&amp;h=false&amp;lat=36.10&amp;lng=-86.40296572047234&amp;t=1&amp;z=5&amp;l=col11%3E%3E1&amp;y=2&amp;tmplt=2&amp;hml=KML"></iframe>
                    -->
                </td>
            </tr>
        </table>
    </div> 
</div>


@section MyScripts {

    <script>


        var switchgrassYieldFrame =
                            '<iframe width="800" height="600" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col11%3E%3E1+from+1kD5w9t0iW_iVftzLag5aBAWh3PCK3On9zKFKVi9n+where+col1%3E%3E0+in+(&#39;AL&#39;%2C+&#39;FL&#39;%2C+&#39;GA&#39;%2C+&#39;KY&#39;%2C+&#39;MS&#39;%2C+&#39;NC&#39;%2C+&#39;SC&#39;%2C+&#39;TN&#39;%2C+&#39;VA&#39;)&amp;viz=MAP&amp;h=false&amp;lat=31.995958181131257&amp;lng=-83.71763842302317&amp;t=1&amp;z=6&amp;l=col11%3E%3E1&amp;y=2&amp;tmplt=2&amp;hml=KML"></iframe>';
        var miscanthusYieldFrame =
            '<iframe width="800" height="600" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col11%3E%3E1+from+1wQeB5JzUQRbGbw6di06YBYVH8akVQj6xIP3S9OCV+where+col1%3E%3E0+in+(&#39;AL&#39;%2C+&#39;FL&#39;%2C+&#39;GA&#39;%2C+&#39;KY&#39;%2C+&#39;MS&#39;%2C+&#39;NC&#39;%2C+&#39;SC&#39;%2C+&#39;TN&#39;%2C+&#39;VA&#39;)&amp;viz=MAP&amp;h=false&amp;lat=31.995958181131257&amp;lng=-83.71763842302317&amp;t=1&amp;z=6&amp;l=col11%3E%3E1&amp;y=2&amp;tmplt=2&amp;hml=KML"></iframe>';

        var productyield = ['<iframe width="800" height="600" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col11+from+1dYCpUm_bwDqN4MybPQVjPmkHMPOsYw--Fau1IQZM&amp;viz=MAP&amp;h=false&amp;lat=36.10&amp;lng=-86.22055982637162&amp;t=1&amp;z=7&amp;l=col11&amp;y=2&amp;tmplt=2&amp;hml=KML"></iframe>', switchgrassYieldFrame, miscanthusYieldFrame];

        var productcost = ['<iframe width="800" height="600" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col11+from+1dYCpUm_bwDqN4MybPQVjPmkHMPOsYw--Fau1IQZM&amp;viz=MAP&amp;h=false&amp;lat=36.10&amp;lng=-86.22055982637162&amp;t=1&amp;z=7&amp;l=col11&amp;y=2&amp;tmplt=2&amp;hml=KML"></iframe>',
            '<iframe width="800" height="600" scrolling="no" frameborder="no"   src="https://www.google.com/fusiontables/embedviz?q=select+col11%3E%3E1+from+1tlr9ZXczB9JIz3gk9182vjGisXhUGkoh-PJyRq-v+where+col1%3E%3E0+in+(&#39;AL&#39;%2C+&#39;FL&#39;%2C+&#39;GA&#39;%2C+&#39;KY&#39;%2C+&#39;MS&#39;%2C+&#39;NC&#39;%2C+&#39;SC&#39;%2C+&#39;TN&#39;%2C+&#39;VA&#39;%2C+&#39;WV&#39;)&amp;viz=MAP&amp;h=false&amp;lat=31.995958181131257&amp;lng=-83.71763842302317&amp;t=1&amp;z=6&amp;l=col11%3E%3E1&amp;y=2&amp;tmplt=2&amp;hml=KML"></iframe>',
            '<iframe width="800" height="600" scrolling="no" frameborder="no"   src="https://www.google.com/fusiontables/embedviz?q=select+col11%3E%3E1+from+1u0UNsOicvEJ7tyvKyRcXZ-jsH9Srcen9fqK8Y4xl+where+col1%3E%3E0+in+(&#39;AL&#39;%2C+&#39;FL&#39;%2C+&#39;GA&#39;%2C+&#39;KY&#39;%2C+&#39;MS&#39;%2C+&#39;NC&#39;%2C+&#39;SC&#39;%2C+&#39;TN&#39;%2C+&#39;VA&#39;%2C+&#39;WV&#39;)&amp;viz=MAP&amp;h=false&amp;lat=31.995958181131257&amp;lng=-83.71763842302317&amp;t=1&amp;z=6&amp;l=col11%3E%3E1&amp;y=2&amp;tmplt=2&amp;hml=GEOCODABLE"></iframe>'];

        var iframe = $('#mapelement');
        $('#SelectedMapType').change(function() {
            //the prop method retrieves the selected index. Adding 1 to that index increment the value by 1
            //This index can then be used in retrivieing links for maps where a blank map lives at index '0'
            var cropIndex = $('#SelectedCrop').prop("selectedIndex") + 1;
            var selectedMapType = $('#SelectedMapType').val();
            var iframe = $('#mapelement');
            iframe.html("");
            if (selectedMapType == "yieldmap") {
                iframe.html(productyield[cropIndex]);
            } else if (selectedMapType == "costmap") {
                iframe.html(productcost[cropIndex]);
            }

        });

        $('#SelectedCrop').change(function() {
            $('#SelectedMapType').change();
        });
        $(document).ready(function() {
            $('#SelectedMapType').change();

        });
    </script>

}



