@{
	ViewBag.Title = "About";
}

<div class="row overflow-y: scroll">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				The IBSS Partnership
			</div>
			<div class="panel-body">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-5 pull-right">
					<a href="http://www.se-ibss.org/"><img src="~/images/ibssparnershiplogo.png" class="img-responsive col-xs-12 col-sm-9 col-md-8 col-lg-7 pull-right"/></a>
				</div>
				<p>
					The Southeastern Partnership for Integrated Biomass Supply System (The IBSS Partnership) is a collaborative program among major
					research universities and private sector working to deploy an infrastructure-compatible biofuels industry in the Southeastern
					United States. Funded by the US Department of Agriculture, through a highly competitive process as a Coordinated Agriculture Project, the IBSS partnership intends to help meet USDA goal of producing almost 50% of the next generation of biofuel in the region. In doing so, the IBSS partnership demonstrates real-world solutions towards economically and environmentally sustainable production of biofuel in the Southeastern United States.
					The IBSS partnership organizes a powerful multidisciplinary team of skilled scientists, outreach specialists, and educators from
					four major research universities (University of Tennessee, Auburn University, North Carolina State University, University of Georgia) and two collaborators from private sector (ArborGen and Ceres) to address its three primary goals:

					<ul>
						<li>Demonstrate real-world solutions to barriers limiting deployment of advanced biofuels in the Southeastern region</li>
						<li>Create, validate and use new metrics for improved decision-making for regional biorefinery development</li>
						<li>Provide credible and relevant programs to dispense new knowledge for the workforce and stakeholders</li>
					</ul>
				</p>
				<div class="text-center">
					<p>
						Southeastern Partnership for Integrated Biomass Supply Systems <br/>
						Center for Renewable Carbon, University of Tennessee<br/>
						2506 Jacob Drive, Knoxville, TN 37996 <br/>
						865-946-1130 <br/>

						Email:<a href="mailto:crc@utk.edu">crc@utk.edu</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		@Html.Partial( "_Disclaimer" )
	</div>
</div>
