@using System.Net.Mime
@{
    ViewBag.Title = "AskExpert";
}

<div class="container">
    <div class="row">
        <div class="col-sm-3 alert-warning">
            <p><strong>This content will be updated</strong></p>
           
            <p>
                Your question will be sent to and answered by The Farm Energy Community of Practice of <a href="http://cenusa.iastate.edu/">CenUSA Bioenergy</a>.
            </p>
            <p>
                The Farm Energy Community of Practice is a virtual, or on-line, community which includes over 240 members from land-grant universities and other agencies, including USDA, SARE, NREL, Sun Grant, ATTRA, NCAT, and state and county governments.
            </p>
            <p>
                Community members have combined their expertise to provide the eXtension Farm Energy website.  
                Specialists answer your questions about (almost) all aspects of farm energy--from conservation and efficiency to renewable and bio energy production.
            </p>
        </div>
        <div class="col-sm-9">
            <p>
                Do you have a question about bioenergy? Whether you want to know something about perennial grass production, biofuels, processing, bioenergy related economics, or other bioenergy topics we can help you find the answer. Fill out this form with your question, and we will pass it along to our Cooperative Extension, University, or research expert volunteers to be answered.
            </p>
            <p>
                <iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms" height="460px" src="https://ask.extension.org/widget/tracking/2af8ebdeb7a106b6523362a3f8816a4775b3fae0" style="border:0; color:blue" width="100%"></iframe>    
            </p>
            
        </div>
    </div>
</div>
