@model string

@{
    ViewBag.Title = "title";

}
<div class="text-danger">
    <h3>Future</h3>
    <p>TBD: This page will provide various informaiton about each of the biofuel crops addressed by BDSS. </p>
    @DateTime.UtcNow.ToShortDateString()
</div>