
@{
    ViewBag.Title = "Help";
}



<div class="text-danger">
    <h3>Future</h3>
    <p>TBD: This page will provide any help about BDSS. </p>
    <div>
        @DateTime.UtcNow.ToShortDateString()
    </div>
</div>

